/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.section1 {
    margin-top: -20%;
}

.section2 {
    margin-top: 8%;
}

.section3 {
    margin-top: 8%;
}

.section4 {
    margin-top: 8%;
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: white !important;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;

}

body {
    background: linear-gradient(270deg, #32C225, #1D8202, #186801, #135501);
    height: 640px;
}

.main {
    /* height: 175%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    display: flex;
    color: white !important;
    text-decoration: none !important;
}

.routes {
    border-radius: 50%;
    /* background-color: #FFFF; */
    padding: 1rem;
}

.links {
    max-width: 3rem;
}

.icons {
    margin-right: 1rem;
    border-radius: 50%;
    /* background-color: #ffffff; */
}

.logros {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: disc;
    align-items: flex-start;
    line-height: 9px;
    margin-top: 0px;
    font-size: 11px;
    height: 100%;
}

ul {
    padding-left: 0rem !important;
}

.contVideo {
    display: flex;
    justify-content: center;
}

/* Header  */
.wrapper {
    width: 100%;
    height: 10rem;
}

.neon {
    color: rgb(255, 255, 255);
    margin-top: 30%;
    text-shadow:
        0 0 5px rgba(0, 178, 255, 1),
        0 0 10px rgba(0, 178, 255, 1),
        0 0 20px rgba(0, 178, 255, 1),
        0 0 40px rgba(38, 104, 127, 1),
        0 0 80px rgba(38, 104, 127, 1),
        0 0 90px rgba(38, 104, 127, 1),
        0 0 100px rgba(38, 104, 127, 1),
        0 0 140px rgba(38, 104, 127, 1),
        0 0 180px rgba(38, 104, 127, 1);

}

.header {

    /*     width: auto;
    height: 100%;
    background-image: url(../img/544accc2-a23d-4e5b-a439-a4e8f55aab5a.JPG);
    background-size: cover;
    background-repeat: no-repeat; */
}

.galeria__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeria__item {
    position: relative;
}

.galeria__titulo {
    position: absolute;
    top: 0;
    color: black !important;
    background: linear-gradient(360deg, rgba(255, 255, 255, 0), black);
    width: 100%;
    margin: 0;
    padding: 1rem;
    animation: neon5 1.5s ease-in-out infinite;
    font-size: 1rem;
    font-weight: 700;


}

@keyframes neon5 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff9900,
            0 0 70px #ff9900, 0 0 80px #ff9900, 0 0 100px #ff9900, 0 0 150px #ff9900;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
            0 0 35px #ff9900, 0 0 40px #ff9900, 0 0 50px #ff9900, 0 0 75px #ff9900;
    }
}

.galeria__subtitulo {
    width: 100%;
    margin: 0;
    padding: 1rem;
    height: 3rem;
    z-index: 1000;
    font-weight: 700;
    margin-top: 4rem;
    font-size: 21px;

}

.objectfit {
    display: flex;
    justify-content: space-around;
    margin-top: -4.5rem;
    align-items: center;
}

.objectfit>img {
    width: 10rem;
    height: 12rem;
    object-fit: contain;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: black;
    border: 3px solid #124C39;
    z-index: 1000;
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;

}

.title2 {

    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -23%;
}

/* LINKS  */


.redes {
    height: 16rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 4rem;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    list-style: none;
    padding: 0px;
}

.enlaces {
    text-align: center;
}

/* INFO 1 */
.info1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.info {
    font-size: 14px;
    font-weight: bold;
    margin-top: 9px;
}

/* INFO 2  */

.grid {
    display: grid;
    grid-template-columns: 2.2fr 0.8fr;
    height: 18rem;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 22rem
}

.eventos {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: disc;
    align-items: flex-start;
    line-height: 19px;
    font-size: 15px;
    justify-content: center;
    height: 100%;

}

.paraLogoCont {
    display: flex;
    align-items: center;
    margin-top: 0rem;
    max-width: 10rem;
}

.paraLogo {
    max-width: 126%;
}

.entrevista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* INFO 3  */


.logoPatronCont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.patrocinadores {
    max-width: 100%;
}


/* MEDIA QUERIES  */
@media (max-width: 270px) {
    .eventos {
        line-height: 10px;
        font-size: 10px;
    }

    .grid,
    .grid2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .eventos {
        line-height: 13px;
    }

    .logros {
        height: 50%;
        line-height: 0px;
        font-size: 10px;
    }

    .logoPatronCont,
    .paraLogo {
        display: none;
    }
}

@media (max-width: 371px) {
    .objectfit {
        justify-content: center;
    }

    .objectfit>img {
        width: 7rem;
        height: 8rem;

    }

    .title {
        display: none;
    }

    nav {
        margin-bottom: 19% !important;
    }

    .logoPatronCont {
        height: 100%;
    }

}

@media (min-width: 372px) {
    .header {

        background-size: cover;
        background-position: center;
    }

    .title2 {
        display: none;
    }

    .redes {
        grid-template-columns: repeat(4, 1fr);
    }

    .galeria__titulo {
        font-size: 2rem;
    }

    .grid {
        /* display: grid; */
        grid-template-columns: 2fr 1fr;
        /* justify-content: center; */
    }

    .logros {
        line-height: 9px;
        font-size: 15px;
    }

    .paraLogoCont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0rem;
        width: 100%;
        height: 85%;
        max-width: 13rem;
    }


}


@media (min-width: 728px) {
    .headerDesktop {
        background-image: url(../img/151288405_1362337240790265_468300053441466089_n.jpeg);
        max-width: 100%;
        height: 1024px;
        background-repeat: no-repeat;
    }

    .poligono {
        width: 0;
        height: 0;
        border-right: 0rem solid transparent;
        border-top: 0rem solid transparent;
        border-left: 73rem solid transparent;
        border-bottom: 60rem solid #1D8202;
    }

    .header,
    .objectfit {
        display: none;
    }
}

@media (max-width: 728px) {

    .headerDesktop,
    .poligono {
        display: none;
    }

    .enlaces {
        display: none;
    }

    nav {
        margin-bottom: 38%;
    }

}